<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Ошибка</title>
</head>

<body>
<a th:href="@{/signup}" style="float:right;">
    <b>[РЕГИСТРАЦИЯ]</b>
</a>
<br>
<a th:href="@{/login}" style="float:right;">
    <b>[ВОЙТИ]</b>
</a>
<h1>При выполнении запроса произошла ошибка</h1>
<p th:text="${'Класс: ' + exClass}"></p>
<p th:text="${'Сообщение об ошибке: ' + exMessage}"></p>
<p>Стектрейс:</p>
<p th:each="traceElement : ${exStackTrace}" th:text="${traceElement}"></p>
</body>

</html>
